ROSTemplateFormatVersion: '2015-09-01'
Transform: 'Aliyun::Serverless-2018-04-03'
Resources:
  cendertron-fc:
    Type: 'Aliyun::Serverless::Service'
    Properties:
      Description: 'Cendertron'
      Policies:
        - AliyunOSSFullAccess
    crawl:
      Type: 'Aliyun::Serverless::Function'
      Properties:
        Handler: index.handler
        Initializer: index.initializer
        Runtime: nodejs8
        CodeUri: './'
        MemorySize: 768
        Timeout: 600
        EnvironmentVariables:
          CHROME_BUCKET: cncs-archives
          CHROME_REGION: oss-cn-beijing
          CHROME_ACCESS_KEY_ID: xx
          CHROME_ACCESS_KEY_SECRET: xxx
